<title><%=siteTitle%>--<%=pageTitle%></title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="description" content="food deliver system by itu een646">
<meta name="author" content="ITU">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

<link href="/css/style.css" rel="stylesheet">
  
