      <div class="container">
        <h1 class="display-3 text-white">Welcome!</h1>
        <p class="text-white">This is a food delivery system designed by ITU. We determine temperature, humidity and location at any time for your package!</p>
        <p><a class="btn btn-success btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>