        <div>
          <br><br><br><br><br><br><br>
        <form id="searchform" class="form-inline offset-3 " action="/api/dynamodbquerylast">
          <input class="form-control col-6" id="search" type="number" name="packageid" type="text" placeholder="Package ID here">
          <button class="btn btn-outline-danger  " type="submit" value="submit">Search Last Scan</button>
        </form>
        <br><br><br><br><br><br>
        </div>