<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body id="<%= pageID %>">
    <% include partials/template/navbar.ejs %>
    <br><br><br>
    <div class="container">
    <h3><%= contentTitle %></h3>
    <p></p>
    <br>
    <% if ( pageID == 'apiresponse'){ %>
    <% include partials/content/apibackform.ejs %>
    <% } %>
    <% if ( pageID == 'apiresponseupdate'){ %>
    <% include partials/content/apibackformupdate.ejs %>
    <% } %>
    <hr>
    <footer>
    <% include partials/template/footer.ejs %>
    </footer>
    </div> <!-- /container -->
    <% include partials/template/jsdefaults.ejs %>
  </body>
</html>
